      <nav class="full-page-nav py-2 excluded-print shadow">
        <div class="wrapper-full-page-nav container">
          <div class="logo">
            <img src="./logo-hic-svg-hq.svg" alt="logo" class="logo"/>
          </div>
          <ul class="full-page-nav-links">
            <label for="close-btn" class="btn close-btn"
              ><i class="fa-solid fa-xmark"></i
            ></label>
            <li id="hidemenuSmallScreen">
              <a
                href="https://hicglobalsolutions.com/about-us/"
                class="desktop-item"
                >About Us</a
              >
              <input type="checkbox" id="showMegafullPageAbt" />
              <label for="showMegafullPageAbt" class="mobile-item"
                >About Our Company</label
              >
              <div class="megaBoxfullPage">
                <div class="content row">
                  <div class="col-xl-3 col-lg-6">
                    <div class="h5 menu-title-inside-nav">
                      About Our Company
                    </div>
                    <div style="font-size: 15px" class="mb-0">
                      We’re Not Just Salesforce CRM Experts. At HIC Global
                      Solutions We’ve Created A Team And An Ethos That Gives
                      Each And Every Client All The Support They Need To Achieve
                      Their Business Goals.
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <ul class="megaLinksFullPage ps-0">
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/about-us/"
                          id="hidemenulargeScreen"
                          >About Us</a
                        >
                      </li>
                      <li>
                        <a href="https://hicglobalsolutions.com/our-partners/"
                          >Our Partners</a
                        >
                      </li>
                      <li>
                        <a href="https://hicglobalsolutions.com/customers/"
                          >Our Customers</a
                        >
                      </li>

                      <li>
                        <a
                          href="https://hicglobalsolutions.com/products-by-hic/"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >Products By HIC</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=0acdbb30-36ac-439d-bcce-ee6e05c901a5"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >MultiSync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=ba63badd-b3bb-469a-ab35-f91dd5aa0656"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >WooCom Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=5de1d8ec-e84a-45c4-a91a-4c497c8c5506"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >Sign Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N4V00000JGVA5UAP"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >QB Sync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N3A00000FMdKyUAL&tab=e"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >Sync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N4V00000GbAJDUA3&channel=recommended&tab=e"
                          id="hidemenulargeScreen"
                          target="_blank"
                          >Docs Made Easy</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div
                    class="col-xl-3 col-lg-6 mt-lg-4 mt-xl-0"
                    id="hidemenuSmallScreen"
                  >
                    <div class="menu-title-inside-nav h5">Products By HIC</div>
                    <div style="font-size: 15px" class="mb-0">
                      At HIC, we engineer innovative solutions that surpass
                      expectations. Explore our diverse range of cutting-edge
                      products, tailored to elevate your business. Embrace the
                      future of innovation and unlock endless possibilities
                      today!
                    </div>
                  </div>
                  <div
                    class="col-xl-3 col-lg-6 mt-lg-4 mt-xl-0"
                    id="hidemenuSmallScreen"
                  >
                    <ul class="megaLinksFullPage ps-0">
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=0acdbb30-36ac-439d-bcce-ee6e05c901a5"
                          target="_blank"
                          >MultiSync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=ba63badd-b3bb-469a-ab35-f91dd5aa0656"
                          target="_blank"
                          >WooCom Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=5de1d8ec-e84a-45c4-a91a-4c497c8c5506"
                          target="_blank"
                          >Sign Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N4V00000JGVA5UAP"
                          target="_blank"
                          >QB Sync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N3A00000FMdKyUAL&tab=e"
                          target="_blank"
                          >Sync Made Easy</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://appexchange.salesforce.com/appxListingDetail?listingId=a0N4V00000GbAJDUA3&channel=recommended&tab=e"
                          target="_blank"
                          >Docs Made Easy</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li id="hidemenuSmallScreen">
              <a
                href="https://hicglobalsolutions.com/service/"
                class="desktop-item"
                >Services</a
              >
              <input type="checkbox" id="showMegafullPageServ" />
              <label for="showMegafullPageServ" class="mobile-item"
                >Services</label
              >
              <div class="megaBoxfullPage">
                <div class="content row">
                  <div class="col-xl-3 col-lg-6" style="padding: 0.5rem 1.5rem">
                    <div class="menu-title-inside-nav h5">
                      Services We Offer
                    </div>
                    <div style="font-size: 15px" class="mb-0">
                      Explore our dynamic range of services, including expert
                      Salesforce consulting and efficient IT staffing solutions.
                      From optimizing Salesforce to finding the best IT talent,
                      we've got you covered with tailored strategies for growth
                      and success!
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-6">
                    <ul class="megaLinksFullPage ps-0 servicemenuNavLage">
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-lightning/"
                          >Salesforce Lightning</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-custom-app-development-company/"
                          >Salesforce Custom App Development</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/data-migration-services/"
                          >Salesforce Data Migration</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-crm-customization/"
                          >Salesforce Customization</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-consulting-services/"
                          >Salesforce Consulting</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-development-services/"
                          >Salesforce Development</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-managed-services/"
                          >Salesforce Managed</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-implementation-services/"
                          >Salesforce Implementation</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-support-and-maintenance/"
                          >Salesforce Support
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-api-integration/"
                          >Salesforce API Integration</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/it-staff-augmentation-services/"
                          >IT Staff Augmentation</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/service/salesforce-cpq-billing-services/"
                          >Salesforce CPQ &amp; Billing
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li id="hidemenuSmallScreen">
              <a class="desktop-item" style="cursor: pointer">Resources</a>
              <input type="checkbox" id="showMegafullPageRes" />
              <label for="showMegafullPageRes" class="mobile-item"
                >Our Resources</label
              >
              <div class="megaBoxfullPage">
                <div class="content">
                  <div class="row" style="padding: 0.5rem 1.5rem">
                    <div class="menu-title-inside-nav h5">
                      Explore Our Resources
                    </div>
                    <p style="font-size: 15px" class="mb-0 text-start">
                      Get the latest information from the IT industry at your
                      fingertips - Our resources encompass insightful blogs,
                      informative Press releases, FAQs, compelling articles, and
                      much more for you to explore!
                    </p>
                  </div>
                  <div class="row">
                    <ul class="megaLinksFullPage">
                      <li>
                        <a href="https://hicglobalsolutions.com/press-release/"
                          >Press Releases</a
                        >
                      </li>
                      <li>
                        <a href="https://hicglobalsolutions.com/blogs/">Blogs</a>
                      </li>
                      <li>
                        <a href="https://hicglobalsolutions.com/case-studies/"
                          >Case Studies</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/corporate-responsibility/"
                          >CSR</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li id="hidemenuSmallScreen">
              <a
                href="https://hicglobalsolutions.com/industry/"
                class="desktop-item"
                >Industry</a
              >
              <input type="checkbox" id="showMegafullPageInd" />
              <label for="showMegafullPageInd" class="mobile-item"
                >Industries We Serve</label
              >
              <div class="megaBoxfullPage">
                <div class="content">
                  <div class="row" style="padding: 0.5rem 1.5rem">
                    <div class="menu-title-inside-nav h5">
                      Industries We Serve
                    </div>
                    <p style="font-size: 15px" class="mb-0 text-start">
                      Empowering diverse industries through expert IT
                      consulting! From healthcare and finance to education and
                      more, we provide tailored solutions to drive innovation
                      and growth, one industry at a time.
                    </p>
                  </div>
                  <div class="row">
                    <ul class="megaLinksFullPage">
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/non-profit/"
                          >Non-Profit</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/healthcare/"
                          >Healthcare</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/manufacturing/"
                          >Manufacturing</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/financial/"
                          >Financial Services</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="row">
                    <ul class="megaLinksFullPage">
                      <li>
                        <a href="https://hicglobalsolutions.com/industry/retail/"
                          >Retail</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/logistics/"
                          >Logistics</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://hicglobalsolutions.com/industry/real-estate/"
                          >Real Estate</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="https://hicglobalsolutions.com" id="hidemenulargeScreen"
                >Home</a
              >
            </li>
            <li id="hidemenulargeScreen">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#aboutPage"
                class="common-dropdown-btn"
              >
                About<i class="fa fa-sort-down ms-2"></i
                ><i class="fa fa-sort-up ms-2"></i>
              </button>
              <div id="aboutPage" class="collapse dropdown-options">
                <a
                  href="https://hicglobalsolutions.com/about-us/"
                  id="hidemenulargeScreen"
                  >About Us</a
                >
                <a
                  href="https://hicglobalsolutions.com/our-partners/"
                  id="hidemenulargeScreen"
                  >Our Partners</a
                >
                <a
                  href="https://hicglobalsolutions.com/customers/"
                  id="hidemenulargeScreen"
                  >Our Customers</a
                >
              </div>
            </li>
            <li>
              <a
                href="https://hicglobalsolutions.com/products-by-hic/"
                id="hidemenulargeScreen"
                >Products By HIC</a
              >
            </li>
            <li id="hidemenulargeScreen">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#servicePage"
                class="common-dropdown-btn"
              >
                Services <i class="fa fa-sort-down ms-2"></i
                ><i class="fa fa-sort-up ms-2"></i>
              </button>
              <div id="servicePage" class="collapse dropdown-options">
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-lightning/"
                  >Salesforce Lightning</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-custom-app-development-company/"
                  >Salesforce Custom App Development</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/data-migration-services/"
                  >Salesforce Data Migration</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-crm-customization/"
                  >Salesforce Customization</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-consulting-services/"
                  >Salesforce Consulting</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-development-services/"
                  >Salesforce Development</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-managed-services/"
                  >Salesforce Managed</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-implementation-services/"
                  >Salesforce Implementation</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-support-and-maintenance/"
                  >Salesforce Support And Maintenance</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-api-integration/"
                  >Salesforce API Integration</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/it-staff-augmentation-services/"
                  >IT Staff Augmentation</a
                >
                <a
                  href="https://hicglobalsolutions.com/service/salesforce-cpq-billing-services/"
                  >Salesforce CPQ &amp; Billing
                </a>
              </div>
            </li>
            <li id="hidemenulargeScreen">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#industryPage"
                class="common-dropdown-btn"
              >
                Industry <i class="fa fa-sort-down ms-2"></i
                ><i class="fa fa-sort-up ms-2"></i>
              </button>
              <div id="industryPage" class="collapse dropdown-options">
                <!-- <a href="https://hicglobalsolutions.com/industry/">Industry</a> -->
                <a href="https://hicglobalsolutions.com/industry/non-profit/"
                  >Non-Profit</a
                >
                <a href="https://hicglobalsolutions.com/industry/healthcare/"
                  >Healthcare</a
                >
                <a href="https://hicglobalsolutions.com/industry/manufacturing/"
                  >Manufacturing</a
                >
                <a href="https://hicglobalsolutions.com/industry/financial/"
                  >FinancialServices</a
                >
                <a href="https://hicglobalsolutions.com/industry/retail/"
                  >Retail</a
                >
                <a href="https://hicglobalsolutions.com/industry/logistics/"
                  >Logistics</a
                >
                <a href="https://hicglobalsolutions.com/industry/real-estate/"
                  >Real Estate</a
                >
              </div>
            </li>
            <li id="hidemenulargeScreen">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#resourcePage"
                class="common-dropdown-btn"
              >
                Resources <i class="fa fa-sort-down ms-2"></i
                ><i class="fa fa-sort-up ms-2"></i>
              </button>
              <div id="resourcePage" class="collapse dropdown-options">
                <a href="https://hicglobalsolutions.com/press-release/"
                  >Press Releases</a
                >
                <a href="https://hicglobalsolutions.com/blogs/">Blogs</a>
                <a href="https://hicglobalsolutions.com/case-studies/"
                  >Case Studies</a
                >
                <a
                  href="https://hicglobalsolutions.com/corporate-responsibility/"
                  >CSR</a
                >
              </div>
            </li>
            <li><a href="https://hicglobalsolutions.com/career/">Career</a></li>
            <li>
              <a href="https://hicglobalsolutions.com/contact-us/">Contact Us</a>
            </li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"
            ><i class="fa-solid fa-bars" style="color: #032d60"></i
          ></label>
        </div>
      </nav>